header {
    margin: auto;
    width: 800px;
}

#container {
    width: min-content;
    display: flex;
    margin: auto;
}

#gol {
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 0 !important;
}

#ui {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
}

#ui > * {
    margin: 5px 0;
}

.input-range-wrapper {
    display: flex;
}

.input-range-title {
    text-align: center;
    font-size: small;
    margin-top: -0.5em;
}
